<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museumapp</title>
    <link rel="stylesheet" href="/css/reset_plus.css">
    <link rel="stylesheet" href="/css/master.css">

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <%- include('header'); -%>
      <h2>Wat</h2>
      <p class="contactwat">Het Musealisme is een museum gelegen in België dat kunstwerken van het surrealisme tentoonstelt. Je kan er werken vinden van o.a. Salvador Dali, René Magritte, Joan Miro en nog veel meer. Kom zeker eens een kijkje nemen en bewonder deze prachtige kunstwerken.<br> <br> Het surrealisme is een kunststroming in de moderne kunst ontstaan als literaire stroming in het begin van 1920. Hoewel er een hoogtepunt van het surrealisme is waar te nemen tussen 1925 en 1940, in zowel schilderkunst, beeldhouwkunst en in de literatuur, is het surrealisme nog steeds aanwezig en actief. Meestal uitgevoerd in een hyperrealistische stijl stellen de surrealisten beelden samen in absoluut onverwachte, verrassende, zo niet schokkende combinaties.Surrealisten proberen hun fantasie zo veel mogelijk de vrije loop te laten.
</p>
      <h2>Waar</h2>
      <p class="contactwat">
        Het Musealisme is gelegen in Hasselt,Limburg. We zijn elke dag geopend van 13u-17u buiten op zondagen. Indien u nog extra vragen heeft kan u ons altijd bereiken op +32495681035 of via email: info.musealisme@hotmail.com
</p>
      <h2>Waarom</h2>
      <p class="contactwat">
        Het surrealisme is in deze periode nog steeds actief en kan zeer inspirerend zijn voor veel artiesten. Vandaar dat wij het Musealisme hebben opgericht, we willen de artiesten een kans geven om deze werken met hun eigen ogen te komen bezichtigen om hier veel inspiratie uit te halen. Natuurlijk is iedereen welkom en kunnen we niet wachten op jou bezoek!
    </p>


      <%- include('footer'); -%>
