<footer>
  <p class="adres">
Gasthuisstraat - 3500 Hasselt | Tel.: +32 495 68 10 35 | info.musealisme@hotmail.com

© 2020 – Musealisme van België. Alle rechten voorbehouden</p>
<ul class="openings">


<li>
    <p>Ma: 13u-17u</p>
    <p>Di: 13u-17u</p>
    <p>Wo: 13u-17u</p>
    <p>Do: 13u-17u</p>
    <p>Vrij: 13u-17u</p>
    <p>Za: 13u-17u</p>
    <p>Zo: GESLOTEN</p>

</li>
</ul>
<a class="linkje" href="https://fierce-coast-29820.herokuapp.com/">https://fierce-coast-29820.herokuapp.com/</a>
</footer>
