<div class="top">


  <img class="logo" src="./img/naam_1.png" alt="">
  <ul>
    <a href="/" class="active">Home</a>
    <a href="/kunstwerken">Kunstwerken</a>
    <a href="/detail">Details</a>
    <a href="/contact">Contact</a>
  </ul>

</div>
